export SCW_ACCESS_KEY=YourAccessKey
export SCW_SECRET_KEY=YourSecretKey
export SCW_DEFAULT_ORGANIZATION_ID=YourOrganizationID
export SCW_DEFAULT_PROJECT_ID=YourProjectID

export AWS_ACCESS_KEY_ID=$SCW_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY=$SCW_SECRET_KEY