export SCW_ACCESS_KEY=YourAccessKey
export SCW_SECRET_KEY=YourSecretKey
export SCW_DEFAULT_ORGANIZATION_ID=YourOrganizationID
export SCW_DEFAULT_PROJECT_ID=YourProjectID

export AWS_ACCESS_KEY_ID=$SCW_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY=$SCW_SECRET_KEY

export TF_VAR_SCW_ACCESS_KEY=$SCW_ACCESS_KEY
export TF_VAR_SCW_SECRET_KEY=$SCW_SECRET_KEY

export TF_VAR_MAILJET_API_KEY=YourMailjetAPIKey
export TF_VAR_MAILJET_API_SECRET=YourMailjetAPISecret
export TF_VAR_MAILJET_EMAIL_FROM=YourEmailFrom

export TF_VAR_JWT_SECRET=YourJWTSecret
export TF_VAR_JWT_EXPIRATION=86400000