# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and deploy Backend Gamefuse

on:
  push:
    branches: [ 'feature/*' ]
  pull_request:
    branches: [ $default-branch ]

env:
  default-branch: main
  PATH_TO_CODE: /var/www/html

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test --if-present

      - name: Create Release
        if: github.ref == 'refs/heads/main'
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: false
          prerelease: false

  deploy_to_production:
    runs-on: ubuntu-latest
    needs: create_release
    if: github.ref == 'refs/heads/main'
    steps:
#      - name: Deploy to Production
#        uses: gamefuseio/deploy-to-production@v1
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
#          release_id: ${{ needs.create_release.outputs.release_id }}
#          environment: production
#          auto_merge: true
#          payload: '{"environment": "production"}'

      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            rm -r ${{env.PATH_TO_CODE}}/*

      - name: transfer files to remote server
        run: |
          scp -r ${{ github.workspace }}/dist ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:${{env.PATH_TO_CODE}}

      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            cd /var/www/html
            npm install
            npm run build
            npm run start

